html, body {
  overflow-x: hidden;
}

img {
  border-radius: 50%;
}

.header{
  color: gray;
  font-family: "Open Sans";
  font-size: 60px;
  text-align: center;
}

.subheader{
  color: gray;
  font-family: "Open Sans";
  font-size: 20px;
  text-align: center;
  line-height: 90%;
}

.about{
  white-space: pre-wrap;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  margin-top: 5%;
  text-align: center;
}

.column {
    line-height: 200%;
    width: 50%;
    padding: 10px;
}

.full-width-bar {
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  background: gray;
}

.scroller {
  height: 60%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  margin-top: 5%;
  scroll-snap-align: start;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mySlides {
  display: none;
}