html,
body {
  height: 100vh;
  font-family: 'Open Sans';
  word-wrap: break-word;
}

a {
  color: gray;
  text-decoration: none;
}

/* Circle images*/
img {
  border-radius: 50%;
}

table {
  width: 100%;
}

td {
    text-align: center;
}

tr{
      display: flex;
  flex-direction: row;
    margin: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form input {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.multiline {
  white-space: pre-wrap;
}

.header {
  color: gray;
  font-size: 60px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
}

.spread {
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
}

.subheader {
  color: gray;
  font-size: 20px;
  line-height: 90%;
  text-align: center;
}

.subtext {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

/* About Portion */
.about {
  font-size: 15px;
  margin-bottom: 5px;
  text-align: left;
}

/* Seperate row sections */
.row {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  width: 50%;
}

/* Seperate column sections within rows*/
.column {
  line-height: 100%;
  width: 50%;
}

/* scroll*/
.scroller {
  overflow: scroll;
}

/* Slideshow positioning*/
.slideshow-container {
  margin: auto;
  max-width: 1000px;
  position: relative;
}

/* Slideshow arrows*/
.prev,
.next {
  border-radius: 0 3px 3px 0;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  user-select: none;
  width: auto;
}

/* Slideshow: Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

/* Slideshow three dots*/
.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.mySlides .miniSlides {
  display: none;
}

.mySlides img {
  border-radius: 0;
}

/* social media icons */
.fa {
  border-radius: 50%;
  color: gray;
  font-size: 100px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}

/* flipcards to rotate card and show back */
.flip-card {
  background-color: transparent;
  border-radius: 50%;
  height: 100px;
  perspective: 1000px;
  width: 100px;
}

.flip-card-inner {
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  align-items: center;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}
