html, body {
  overflow-x: hidden;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans";
  word-break: break-word;
  word-wrap: break-word;
  padding-bottom: 5%;
}

.multiline
{
  white-space: pre-wrap;
}

/* Circle images*/
img {
  border-radius: 50%;
}

.header {
  color: gray;
  font-family: "Open Sans";
  font-size: 60px;
  text-align: center;
}

.subheader {
  color: gray;
  font-family: "Open Sans";
  font-size: 20px;
  text-align: center;
  line-height: 90%;
}

.subtext {
  color: gray;
  font-family: "Open Sans";
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

/* About Portion */
.about {
  white-space: pre-wrap;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 5px;
  font-size: 15px;
}

/* Seperate row sections */
.row {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
  margin-top: 5%;
  text-align: center;
}

/* Seperate column sections within rows*/
.column {
    line-height: 100%;
    width: 50%;  
}

.full-width-bar {
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  background: gray;
}

/* Snap scroll*/
.scroller {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

}

.scroller section {
  margin-top: 5%;
  scroll-snap-align: center;
  margin-left: 1%;
}

/* Slideshow positioning*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Slideshow arrows*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Slideshow: Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Slideshow three dots*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mySlides {
  display: none;
}
